
<header class="commonHeader">
    <a href="/dashboard" class="headerNew" id="update247">Update 24x7 Admin</a>
    <a href="/addnewNews" class="headerNew newsForm" id="addNewNews">NewsForm</a>
    <a href="/dataviewlist" class="headerNew editNews" id="dataViewList">EditNews</a>
    <a href="/logout" class="headerNew logout" id="logout">Logout</a>
</header>

<div class="userEmail">
        <label class="userName">User Name</label> : <label class="userName">Yogesh</label>,
        <label class="emailId">Email</label> : <label class="emailId">Yogesh@gmail.com</label>
</div>

