<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>Add new News</title>
    <%- include('./common/header.ejs'); %>
</head>
<body>
    <!-- <label class="addNewsLabel">Add News</label> -->
</body>
</html>