<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>Data View List</title>
    <%- include('./common/header.ejs'); %>
</head>
<body>
    <label class="newsLabel">News list</label>
    <div>
        <table class="dataviewlist" align="right">
            <tr class="tabelHeader">
                <th class="title">Title</th>
                <th class="description">Description</th>
                <th class="publishedAt">Published At</th>
                <th class="editdelete">Edit/Delete</th>
            </tr>
            <% for(var i=0; i < userData.length; i++) { %>
                <tr>
                    <td><%= userData[i].title %></td>
                    <td><%= userData[i].description %></td>
                    <td><%= userData[i].publishedAt %></td>
                    <td><input type="button" class="viewButton" id="edit"  value="Edit" /> 
                        <input type="button" class="viewButton" id="delete" value="Delete" /></td>
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>